 .u-section-1 {
  background-image: linear-gradient(120deg, #6f007c, #a35559);
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 105px calc(((100% - 1140px) / 2) + -89px) 0 auto;
  padding: 18px 68px 19px 67px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -52px auto 0 calc(((100% - 1140px) / 2) + 386px);
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 161px;
}

.u-section-1 .u-container-layout-2 {
  padding: 28px 30px;
}

.u-section-1 .u-text-4 {
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-1 .u-text-6 {
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    width: 111px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 86px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -33px;
    margin-left: calc(((100% - 1140px) / 2) + 455px);
  }
}